@media print {

* {
	background: transparent;
	color: #000;
	font-family: Times, serif;
	margin: 1pt;
}

header h1 {
	text-align: center;
	color: #000;
	font-size: 30pt;
	font-family: Times, serif;
	padding-bottom: 5pt;
}
nav {
	display: none;
}
h2 {
	font-size: 14pt;
}
#body {
	font-size: 12pt;
}
span {
	float: none;
}



}
