@media print {

* {
	background: transparent;
	color: #000;
	font-family: Times, serif;
	margin: 1px;
}

h1 {
	font-size: 30pt;
	font-family: Times, serif;
}
nav {
	display: none;
}
h2 {
	font-size: 14pt;
}
#body {
	font-size: 12pt;
}
span {
	float: none;
}



}
