@media (max-width: 910px) {

  header {
	background-image: url("../img/congruent_outline.png");
	background-repeat: repeat;
	position: relative;
	border: 3px solid white;
  }

  header h1 {
	display: block;
	padding-left: 1em;
  }	

  nav {
	position: static;
	top: 0;
	right: 0;
	padding-left: 2em;
  }

  nav ul {
	list-style: none;
	padding-bottom: 1em;
  }

  nav ul li {
	float: none;
  }


#photocontainer {
	width: 500px;
	margin: 0 auto;
}	

#professional, #personal {
	float: none;
} 

}




@media (max-width: 600px) {

header h1 {
	display: block;
	text-align: center;
	padding-left: 0;
}

nav {
	position: relative;
	list-style: none;
}

nav ul {
	list-style: none;
	margin: 0;
	padding-bottom: 1em;
}
nav ul li {
	display: block;
	float: none;
	position: static;
	width: 80%;
}
nav ul ul {
	display: none;
}

#photocontainer {
	max-width: 100%;
	margin: 0 auto;
} 

section article p {
	max-width: 100%;
	padding-left: 0;
}

section p span {
	float: none;
}

} 